*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    padding-right: 100px;
    gap: 30px;
}

header a {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: medium;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: rgb(146,168,209);
}

header a:hover {
    color: rgb(123, 184, 202);
}

.container {
    display: flex;
    flex: 1;
    margin: 5px 20px 20px 10px;
    gap: 20px;
}

main {
    width: 90%;
    background-color: rgb(249,250,252);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 540px;
    padding: 30px;
    margin: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
}

.cards {
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    background: rgb(246,217,213);
    color: rgb(56, 100, 182);
    width: 25px;
    height: 15px;
    padding: 35px;
    margin: 30px 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Judul h1 {
    font-size: 30px;
    color: rgb(56, 100, 182);
    font-family: "Montserrat Alternates", sans-serif;
}

.Judul p {
    font-size: 17px;
    color: rgb(90, 90, 90);
    margin: 10px 0;
    font-family: "Montserrat Alternates", sans-serif;
    font-style: italic;
}

.text_kanan {
    float: left;
    margin-right: 18px;
    margin-left: 2px;
}

.clearfix {
    clear: both;
    padding-top: 20px;
}

img {
    margin: 20px 0px;

}

.testimonials {
    margin: 20px 0;
    padding: 23px;
    background-color: rgb(246,217,213);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonials h2 {
    color: rgb(56, 100, 182);
    margin: 10px 0px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.testimonial-text p {
    margin: 10px 0px;
    font-size: 15px;
    color: rgb(90, 90, 90);
    font-family: "Montserrat Alternates", sans-serif;

}


aside  {
    width: 10%;
    background-color: rgb(171,177,207);
    height: 540px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.content-aside {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 10px 10px;
}

.content-aside h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    text-align: right;
    font-size: 21px;
    margin: 10px;
    color: rgb(56, 100, 182);
}

.items {
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 15px;
    border-radius: 10px;
    background: rgb(247, 245, 244);
    color: rgb(146,168,209);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 120px;
    margin: 10px 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    background-color:  rgb(171,177,207);
    height: 160px;
}

.sticky {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 100px;
    gap: 100px;
    height: 50px;
}

.sticky h3 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: right;
    color: rgb(56, 100, 182);
}

.footer-content {
    padding: 0;
    
}

.footer-content li {
    font-family: "Montserrat Alternates", sans-serif;
    text-decoration: none;
    list-style-type: none;
    text-align: right;
    width: auto;
    padding: 4px;
}

.footer-content li a {
    color: rgb(56, 100, 182);
    text-decoration: none;
    list-style-type: none;
   

}

.footer-content li a:hover {
    color: rgb(255, 255, 255);
}

/* Gaya khusus untuk layar dengan lebar maksimal 1024px (tablet) */
@media (max-width: 1204px) {
    header {
        padding-left: 50px;
    }
    
    nav {
        padding-right: 100px;
    }

    main {
        width: 80%;
        height: 450px;
        padding: 30px;
        margin: 0px 5px 5px 10px;
    }

    .Judul h1 {
        font-size: 25px;
    }
    
    .Judul p {
        font-size: 15px;
    }

    .Judul img {
        width: 500px;
        height: 290px;
    }

    .row {
        margin: 35px 0px;
    }

    .cards {
        width: 100%;
        height: 23px;
        padding: 35px;
        margin: 5px 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .testimonials {
        width: 500px;
        margin: 10px 8px;
        padding: 12px;
        height: 110px;
    }
    
    .testimonials h2 {
        margin: 5px 0px;
        font-weight: 300;
        font-size: 18px;
    }
    
    .testimonial-text p {
        margin: 10px 0px;
        font-size: 9px;
    
    }

    aside  {
        width: 20%;
        height: 450px;
    }

    .content-aside {
        margin: 0px 10px;
    }
    
    .content-aside h1 {
        width: 100%;
        text-align: right;
        font-size: 25px;
        margin: 10px;
    }
    
    .items {
        width: 190px;
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        height: 144px;
    }
    
    .sticky {
        padding-top: 20px;
        padding-right: 100px;
    }
    
   
  
}

/* Gaya khusus untuk layar dengan lebar maksimal 768px (mobile) */

@media (max-width: 768px) {

    main {
        width: 100%;
        height: 900px;
        padding: 30px;
        margin: 0px 5px 5px 5px;
    }

    .Judul {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    .Judul h1 {
        font-size: 20px;
    }
    
    .Judul p {
        font-size: 12px;
        margin-right: 20px;
        text-align: center;

    }

    .Judul img {
        width: 300px;
        height: 200px;
    }
    
    .container {
        flex-direction: column;
    } 
    .row {
        display: block;
        flex-direction: row-reverse;
        margin: 10px 50px ;
    }

    .column {
        display: block;
        flex-direction: row-reverse;
        width: 100%;
    }

    .cards {
        font-size: 15px;
        margin: 10px 70px;
        width: 80%;
        height: 20px;
        background-color: yellow;
    }

    .testimonials {
        margin: 10px 8px;
        padding: 24px;
       width: 100%;
    }


    aside  {
        width: 100%;
        height: 250px;
    }

    .content-aside {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 50px;
    }
    
    .content-aside h1 {
        text-align: center;
    }

  
}